
actor_comp.py
actor_system2.py
animationnp.py
compclass.py
new/new_table.py
new/newarray.py
new/system.py
new/table.py
new/table_bad_complex.py
new/test_npinter.py
new/test_numba.py
new/tester.py
np_speed_test.py
nptester.py
setgetattr.py
table.py
table_big.py
__pycache__/axis.cpython-310.pyc
*.pyc
